# stratified_sampling_example

Standard libraries

In [1]:
import datetime
import itertools
import contextlib
import numpy as np
import pandas as pd
import statsmodels.api as sm
from scipy.stats import uniform
import matplotlib.pyplot as plt
import pandas.io.formats.format as pf
from IPython.display import clear_output

from dateutil.relativedelta import relativedelta

pd.plotting.register_matplotlib_converters(explicit=True)

User-defined display format

In [2]:
@contextlib.contextmanager
def custom_formatting():
    orig_float_format=pd.options.display.float_format
    orig_int_format=pf.IntArrayFormatter
    pd.options.display.float_format='{:0,.2f}'.format
    class IntArrayFormatter(pf.GenericArrayFormatter):
        def _format_strings(self):
            formatter=self.formatter or '{:,d}'.format
            fmt_values=[formatter(x) for x in self.values]
            return fmt_values
    pf.IntArrayFormatter=IntArrayFormatter
    yield
    pd.options.display.float_format=orig_float_format
    pf.IntArrayFormatter=orig_int_format

Suppose that in a company there are the following staff:

male, part-time: 18

male, full-time: 90

female, part-time: 63

female, full-time: 9

total: 180

In [3]:
df=pd.DataFrame(np.append(np.append(np.append(np.array([[0, 1]]*90),
                                              np.array([[0, 0]]*18), axis=0),
                                    np.array([[1, 1]]*9), axis=0),
                          np.array([[1, 0]]*63), axis=0),
                columns=['i_fem', 'i_full'])

df['random']=uniform.rvs(size=df.shape[0])

display(df.head())
df.info()

   i_fem  i_full    random
0      0       1  0.181351
1      0       1  0.902976
2      0       1  0.534350
3      0       1  0.530606
4      0       1  0.924020

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
i_fem     180 non-null int32
i_full    180 non-null int32
random    180 non-null float64
dtypes: float64(1), int32(2)
memory usage: 2.9 KB

The sizes and proportions of each group are given by

In [4]:
p=(
    df
    .groupby(by=['i_fem', 'i_full'])
    .apply(lambda g: pd.DataFrame({'n': [g.shape[0]]}))
)
p.index=p.index.droplevel(2)
p['p']=p.n/df.shape[0]

with custom_formatting():
    display(p)
p.info()

              n    p
i_fem i_full
0     0      18 0.10
      1      90 0.50
1     0      63 0.35
      1       9 0.05

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4 entries, (0, 0) to (1, 1)
Data columns (total 2 columns):
n    4 non-null int64
p    4 non-null float64
dtypes: float64(1), int64(1)
memory usage: 213.0 bytes

We are asked to take a sample of 40 staff, stratified according to the above categories

In [5]:
sample_idx=(
    df
    .groupby(by=['i_fem', 'i_full'], group_keys=False)
    .apply(lambda g: g.drop(g.columns, axis=1).sample(frac=40/180, replace=False))
    .index
)

display(df.loc[sample_idx])
df.loc[sample_idx].info()

     i_fem  i_full    random
99       0       0  0.057943
90       0       0  0.267931
95       0       0  0.883345
92       0       0  0.566618
76       0       1  0.181666
70       0       1  0.077103
52       0       1  0.239745
59       0       1  0.593440
56       0       1  0.537760
88       0       1  0.833522
22       0       1  0.876398
8        0       1  0.287438
28       0       1  0.455814
86       0       1  0.520574
78       0       1  0.260044
65       0       1  0.741593
4        0       1  0.924020
75       0       1  0.826452
29       0       1  0.331830
71       0       1  0.200708
43       0       1  0.356325
84       0       1  0.411465
5        0       1  0.567019
14       0       1  0.450274
140      1       0  0.964722
173      1       0  0.748391
132      1       0  0.341429
165      1       0  0.110642
164      1       0  0.874201
124      1       0  0.400090
123      1       0  0.528623
179      1       0  0.231071
137      1       0  0.914047
127      1       0  0.398376
157      1       0  0.680291
159      1       0  0.051328
163      1       0  0.420699
119      1       0  0.481089
110      1       1  0.916322
115      1       1  0.683235

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 99 to 115
Data columns (total 3 columns):
i_fem     40 non-null int32
i_full    40 non-null int32
random    40 non-null float64
dtypes: float64(1), int32(2)
memory usage: 960.0 bytes

The sizes and proportions of each sampled stratum are given by

In [6]:
sample_p=(
    df.loc[sample_idx]
    .groupby(by=['i_fem', 'i_full'])
    .apply(lambda g: pd.DataFrame({'n': [g.shape[0]]}))
)
sample_p.index=sample_p.index.droplevel(2)
sample_p['p']=sample_p.n/df.loc[sample_idx].shape[0]

with custom_formatting():
    display(sample_p)
sample_p.info()

              n    p
i_fem i_full
0     0       4 0.10
      1      20 0.50
1     0      14 0.35
      1       2 0.05

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4 entries, (0, 0) to (1, 1)
Data columns (total 2 columns):
n    4 non-null int64
p    4 non-null float64
dtypes: float64(1), int64(1)
memory usage: 213.0 bytes

Furthermore, we can wrap this procedure in a function

In [7]:
def stratified_sample_idx(df, v_strata, sample_pct=0.1):
    sample_idx=(
        df
        .groupby(by=v_strata, group_keys=False)
        .apply(lambda g: g.drop(g.columns, axis=1).sample(frac=sample_pct, replace=False))
        .index
    )
    
    return sample_idx

In [8]:
sample_idx=stratified_sample_idx(df=df, v_strata=['i_fem', 'i_full'], sample_pct=40/180)
sample_df=df.loc[sample_idx]

display(sample_df)
sample_df.info()

     i_fem  i_full    random
107      0       0  0.406026
93       0       0  0.059787
104      0       0  0.769413
100      0       0  0.194781
9        0       1  0.389830
89       0       1  0.601636
41       0       1  0.800301
47       0       1  0.661724
16       0       1  0.604671
51       0       1  0.467038
22       0       1  0.876398
45       0       1  0.682777
77       0       1  0.687780
12       0       1  0.894565
66       0       1  0.637312
23       0       1  0.475061
3        0       1  0.530606
40       0       1  0.598068
50       0       1  0.500551
53       0       1  0.776955
79       0       1  0.407253
52       0       1  0.239745
43       0       1  0.356325
70       0       1  0.077103
176      1       0  0.433390
175      1       0  0.897253
174      1       0  0.376351
137      1       0  0.914047
146      1       0  0.401791
145      1       0  0.047117
161      1       0  0.576316
139      1       0  0.744643
119      1       0  0.481089
171      1       0  0.333931
168      1       0  0.452764
152      1       0  0.985336
117      1       0  0.491089
158      1       0  0.248252
113      1       1  0.442102
116      1       1  0.303224

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 107 to 116
Data columns (total 3 columns):
i_fem     40 non-null int32
i_full    40 non-null int32
random    40 non-null float64
dtypes: float64(1), int32(2)
memory usage: 960.0 bytes

In [9]:
sample_df_p=(
    sample_df
    .groupby(by=['i_fem', 'i_full'])
    .apply(lambda g: pd.DataFrame({'n': [g.shape[0]]}))
)
sample_df_p.index=sample_df_p.index.droplevel(2)
sample_df_p['p']=sample_df_p.n/sample_df.shape[0]

with custom_formatting():
    display(sample_df_p)
sample_df_p.info()

              n    p
i_fem i_full
0     0       4 0.10
      1      20 0.50
1     0      14 0.35
      1       2 0.05

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4 entries, (0, 0) to (1, 1)
Data columns (total 2 columns):
n    4 non-null int64
p    4 non-null float64
dtypes: float64(1), int64(1)
memory usage: 213.0 bytes